<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>

        <title>Inliner Editor</title>
</head>
<body ng-app="app">
<div id="main" ng-app ng-controller="InlineEditorController" ng-click="hideTooltip()">


    <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">

        <input type="text" ng-model="value" />
    </div>

    <p ng-click="toggleTooltip($event)">{{value}}</p>

</div></body>
</html>